{% extends 'db.template.html.twig' %}

{% block title %}Deine Beiträge{% endblock %}

{% block content %}

    <h1>Deine Beiträge</h1>

    <table class="ui table">

        <thead>
        <tr>
            <th>Titel</th>
            <th>Datum</th>
            <th>Status</th>
            <th>Aktionen</th>
        </tr>
        </thead>

        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.date | date('d.m.Y') }}</td>
                <td>

                    {% if post.isPublished %}
                        <div class="ui green label">Öffentlich</div>
                    {% elseif post.isQueued %}
                        <div class="ui yellow label">Warteschlange</div>
                    {% elseif post.isDenied %}
                        <div class="ui red label">Abgelehnt</div>
                    {% else  %}
                        <div class="ui grey label">Gespeichert</div>
                    {% endif %}
                </td>
                <td>
                    {% if post.denied is defined and post.denied %}
                        <a class="ui positive button" href="{{ path('updateContent', {'id': post.id}) }}">Änderungen vorschlagen</a>
                    {% endif %}
                    {% if post.isSaved %}
                        <a class="ui secondary button" href="{{ path('postAddContent', {'post': post.id}) }}">Bearbeiten</a>
                    {% endif %}
                    <a class="ui negative button" href="{{ path('postDelete', {'id': post.id}) }}">Löschen</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}